<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
  <header>
    <ul>
      <li><a href="#">About</a></li> 
      <li><a href="#Hanuman">Partners</a></li> 
      <li><a href="#Christmas">Login</a></li> 
      <li><a href="#Nomad">Contact</a></li> 
    </ul>
    <br>
    <h1>LOTUS Alliance</h1>
    <br><br></br>
    </header>



	
</body>
</html>