<!DOCTYPE html>
<html>
    <% include ../views/partials/header.ejs %>
<body>
	<% include ../views/partials/nav.ejs %>

	<div class = "container">
	  	<form method="post" action="/login">
			<div>
		    	<input type="text" name="org[username]" placeholder="Username">
		    </div>
		    <div>
		    	<!--enter type="password" to be encoded versus plain text-->
		    	<input type="text" name="org[password]" placeholder="Password">
		    </div>
		    </br>
		    <button>Login</button>
		</form>
	</div>

</body>
</html>