<!DOCTYPE html>
<html>
    <% include ../views/partials/header.ejs %>
<body>
    <% include ../views/partials/nav.ejs %>
	
	<h1>Client Progress</h1>
	<div class="container">
		<h5> PAGE WHERE CHARTSJS TIES IN</h5>
		<%= progress.maleUSCitizen %>
	</div>
	
</body>
</html>