<!DOCTYPE html>
<html>
    <% include ../views/partials/header.ejs %>
<body>
    <% include ../views/partials/nav.ejs %>
	
	<div class="container">
	<h1>Client Progress</h1>

		<h5> PAGE WHERE CHARTSJS TIES IN</h5>
		<h6>number of male citizens</h6>
		<%= progress.maleUSCitizen %>
	</div>
	
</body>
</html>